p {
    font-size: 18px;
    color: blue;
}

html {
    font-style: italic;
    font-size: 18px;
    
}

.bold {
    font-weight: bold;

}

#workLink {
    color: pink;
    text-decoration: none;

}

#portfolio {
    font-weight: bold;
    color: green;
}