body{
    margin: 20px;
   }
  h1{
    font-size: 60px;
   }
   .container{
   
    padding: 5px;
   
    }
.row{
    border: 2px solid black;
}

.col-3{
    border-right: 2px solid black ;
    background-color:rgba(128, 128, 128, 0.521);

}
.col-12{
    border-right:2px solid black;
    background-color:rgba(128, 128, 128, 0.521);
}
.col-md-4{
    border-right:2px solid black;
    background-color:rgba(128, 128, 128, 0.521);
}
.col-md-6{
    border-right:2px solid black;
    background-color:rgba(128, 128, 128, 0.521);
}

#lastcol{
    border-right: 0px;
}