<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"> <img src="../images/logo.png" height="40px" ></h5>
          <p class="grey-text text-lighten-4">Learn More on how to match movie and subscribe...</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Basics</h5>
          <ul>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Support Team</li>
            <li>Blog</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
      