$headerColor: blue;
$bodyFont: bold;
$text-position: center;

h1{
    color: $headerColor;

}

.container{
    padding:10px;
    h1{
        color: $headerColor;
        font-weight: $bodyFont
        
    }
}